
body {
    font-family: Arial, sans-serif;
    background-color: tan;
    text-align: center;
    margin-top: 50px;
}
div{
    margin-bottom: 50px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757; 
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

