<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Home</title>
    <link href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/src/main/resources/templates/home.html" th:href="@{/home}">Home</a></li>
        <li><a href="/src/main/resources/templates/scores.html" th:href="@{/scores}">Scores</a></li>
    </ul>
</nav>
<h1>Quiz Home</h1>
<main id = quizes>
    <div>
        <form action="#" th:action="@{/multiTest}" method="post" class="quiz-form">
            <h2>Multi Test</h2>
            <img src="/src/main/resources/static/images/multipleChoiceQuiz.jpg" th:src="@{/images/multipleChoiceQuiz.jpg}"
                 alt="multipeChoicePlaceHolder">
            <button id="multiTest" type="submit">Start</button>
        </form>
    </div>
    <div>
        <form action="#" th:action="@{/shortFormTest}" method="post" class="quiz-form">
            <h2>Short Form</h2>
            <img src="/src/main/resources/static/images/shortAnswer.jpg" th:src="@{/images/shortAnswer.jpg}"
                 alt="shortAnswerPlaceHolder">
            <button id="shortFormTest" type="submit">Start</button>
        </form>
    </div>
</main>
</body>
</html>