<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css" th:href="@{/css/style.css}">
</head>
<body>
<!--Need to Change to thymleaf link with th:href-->
<nav>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="scores.html">Scores</a></li>
        <li><a href="index.html">Login</a></li>
    </ul>
</nav>
    <h1>Spring Quiz Multiple choice</h1>
    <form th:action="@{/submit-quiz}" th:object="${test}" method="post">
       <!--  <div th:each="question, iterStat : ${test.questions}">
            <p th:text="${iterStat.index + 1} + '. ' + ${question.questionText}"></p>
            <label>
                Your Answer:
                <input type="text" th:field="*{questions[__${iterStat.index}__].userAnswer}"/>
            </label>
       </div> -->
        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>