body{
    padding-top: 70px;
    background-color:rgb(247, 233, 215);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;    
    background-color: #463e4e;
    font-weight: bold;
    color: #63c6e4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-shadow: 0px 1.6px 1px rgb(252, 173, 186);
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #463e4e;
    border: 2px solid rgb(81, 255, 81); 
}
#scores, #home {
    font-size: 50px;
    text-decoration: none;
    color: #00c3ff;
    margin: 0 50px;
    display: flex;
    align-items: center;
}
.quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: xxx-large;
    text-shadow: 1px 2px  #d6b9ca;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

h2{
    margin: 20px;
}

#multiTest, #shortFormTest{
    font-weight: bold;
    text-decoration: none;
    color: #463e4e;
    background-color: #4bb941;
    padding: 8px 8px;
    border-radius: 10px;
    transition: background-color 0.2s ease, transform 0.3s ease;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#multiTest:hover, #shortFormTest:hover{
    background-color: rgb(65, 253, 128);
    transform: scale(1.1);
}
#quizes {
    display: flex;
    align-items: row;
    justify-content: center;
    flex-direction: row;
}
img{
    width: 50%;
    height: auto;
}
